# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python, Flask etc backend stuff
backend/lib*
backend/scripts
backend/include
backend/src/migrations
backend/bin
backend/pyvenv.cfg