# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python, Flask etc api stuff
api/lib*
api/scripts
api/include
api/src/migrations
api/bin
api/pyvenv.cfg
api/dbdump

.coverage

migrations/
instance/